.container {
    display: flex;
    flex-wrap: wrap;
}

.name {
    font-weight: bold;
}

.panel {
    margin: 0.5em;
    border: 1px solid black;
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.picture {
    display: flex;
    align-items: center;
    width: 8em;
    height: 12em;
    background: #eee;
    overflow: hidden;
}

img {
    width: 8em;
}